<section class="menu section py-5">
    <div class="container text-center mb-5">
        <h2>Menú</h2>
        <p>Seleccione una opción para continuar</p>
    </div>

    <div class="row justify-content-center g-4">
        <!-- Opción 1: Parámetros -->
        <div class="col-lg-4 col-md-6">
            <div class="card menu-item h-100 p-3">
                <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-gear-fill fs-3 me-2 text-primary"></i>
                    <h4 class="mb-0">Parámetros</h4>
                </div>
                <ul class="list-unstyled ps-3">
                    <li>
                        <a [routerLink]="['/userabm']" class="text-decoration-none d-block py-1">
                            Usuarios
                        </a>
                    </li>
                    <li><a href="#" class="text-decoration-none d-block py-1">Roles</a></li>
                    <li>
                        <a [routerLink]="['/centrocostos']" class="text-decoration-none d-block py-1">
                            Centro de Costos
                        </a>
                    </li>


                </ul>
            </div>
        </div>

        <!-- Opción 2: Reportes -->
        <div class="col-lg-4 col-md-6">
            <div class="card menu-item h-100 p-3">
                <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-bar-chart-fill fs-3 me-2 text-primary"></i>
                    <h4 class="mb-0">Comunes </h4>
                </div>
                <ul class="list-unstyled ps-3">
                    <li><a href="#" class="text-decoration-none d-block py-1"></a></li>

                    <li>
                        <a [routerLink]="['/indices']" routerLinkActive="active"
                           class="text-decoration-none d-block py-1">
                            Índices
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/bancos']" routerLinkActive="active"
                           class="text-decoration-none d-block py-1">
                            Bancos
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/rubros']" routerLinkActive="active"
                           class="text-decoration-none d-block py-1">
                            Rubros
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/marcas']" routerLinkActive="active"
                           class="text-decoration-none d-block py-1">
                            Marcas
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <!-- Opción 3: Gestión -->
        <div class="col-lg-4 col-md-6">
            <div class="card menu-item h-100 p-3">
                <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-truck fs-3 me-2 text-primary"></i>
                    <h4 class="mb-0">Administración</h4>
                </div>
                <ul class="list-unstyled ps-3">

                    <li>
                        <a [routerLink]="['/entidades']" routerLinkActive="active"
                           class="text-decoration-none d-block py-1">
                            Entidades
                        </a>
                    </li>


                    <li><a [routerLink]="['/productos']" routerLinkActive="active"
                           class="text-decoration-none d-block py-1">
                            Productos
                        </a></li>

                </ul>
            </div>
        </div>

        <!-- Opción 4: Gestión -->
        <div class="col-lg-4 col-md-6">
            <div class="card menu-item h-100 p-3 shadow-sm">
                <div class="d-flex align-items-center mb-3" [routerLink]="['/movimientos', 'COMPRA']"
                     style="cursor: pointer;">
                    <i class="bi bi-gear-fill fs-3 me-2 text-primary"></i>
                    <h4 class="mb-0">Compras</h4>
                </div>

                <ul class="list-unstyled ps-2">
                    <li class="mb-2">
                        <!-- REGISTRAR COMPRA -->
                        <a [routerLink]="['/movimientos', 'COMPRA']" routerLinkActive="active"
                           class="d-flex align-items-center text-decoration-none text-secondary py-1 rounded ps-2 hover-menu"
                           style="cursor: pointer;">
                            <i class="bi bi-cart-plus me-2 text-primary"></i>
                            <span>Registrar Compra</span>
                        </a>

                        <!-- PROVEEDORES -->
                        <a [routerLink]="['/entidades']" [queryParams]="{ tipo: 'proveedor' }" routerLinkActive="active"
                           class="d-flex align-items-center text-decoration-none text-secondary py-1 rounded ps-2 hover-menu"
                           style="cursor: pointer;">
                            <i class="bi bi-truck me-2 text-primary"></i>
                            <span>Proveedores</span>
                        </a>

                        <!-- Listado de Compras -->
                        <a [routerLink]="['/movimientos-proveedores']" routerLinkActive="active"
                           class="d-flex align-items-center text-decoration-none text-secondary py-1 rounded ps-2 hover-menu"
                           style="cursor: pointer;">
                            <i class="bi bi-wallet2 me-2 text-primary"></i>
                            <span>Listado de compras</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ventas -->
        <div class="col-lg-4 col-md-6">
            <div class="card menu-item h-100 p-3 shadow-sm">
                <!-- TÍTULO DE LA TARJETA -->
                <div class="d-flex align-items-center mb-3" [routerLink]="['/movimientos', 'VENTA']"
                     style="cursor: pointer;">
                    <i class="bi bi-bag-check-fill fs-3 me-2 text-success"></i>
                    <h4 class="mb-0">Ventas</h4>
                </div>

                <ul class="list-unstyled ps-2">
                    <li class="mb-2">
                        <!-- REGISTRAR VENTA -->
                        <a [routerLink]="['/movimientos', 'VENTA']" routerLinkActive="active"
                           class="d-flex align-items-center text-decoration-none text-secondary py-1 rounded ps-2 hover-menu"
                           style="cursor: pointer;">
                            <i class="bi bi-cart-check me-2 text-success"></i>
                            <span>Registrar Venta</span>
                        </a>

                        <!-- CLIENTES -->
                        <a [routerLink]="['/entidades']" [queryParams]="{ tipo: 'cliente' }" routerLinkActive="active"
                           class="d-flex align-items-center text-decoration-none text-secondary py-1 rounded ps-2 hover-menu"
                           style="cursor: pointer;">
                            <i class="bi bi-people me-2 text-success"></i>
                            <span>Clientes</span>
                        </a>

                        <!-- LISTADO DE VENTAS -->
                        <a [routerLink]="['/movimientos-clientes']" routerLinkActive="active"
                           class="d-flex align-items-center text-decoration-none text-secondary py-1 rounded ps-2 hover-menu"
                           style="cursor: pointer;">
                            <i class="bi bi-receipt me-2 text-success"></i>
                            <span>Listado de Ventas</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Opción 6: Gestión -->
        <div class="col-lg-4 col-md-6">
            <div class="card menu-item h-100 p-3">
                <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-person-lines-fill fs-3 me-2 text-primary"></i>
                    <h4 class="mb-0">Gestión</h4>
                </div>
                <ul class="list-unstyled ps-3">
                    <li><a href="#" class="text-decoration-none d-block py-1">Clientes</a></li>
                    <li><a href="#" class="text-decoration-none d-block py-1">Proveedores</a></li>
                    <li><a href="#" class="text-decoration-none d-block py-1">Productos</a></li>
                </ul>
            </div>
        </div>
        <!-- Puedes duplicar estas columnas para más opciones -->
    </div>
</section>