<div class="login-wrapper d-flex align-items-center justify-content-center">
    <div class="card login-container">
        <div class="card-body">
            <h3 class="text-center mb-4">Iniciar Sesión</h3>

            <form (ngSubmit)="onLogin()" #loginForm="ngForm" autocomplete="off">
                <!-- Campo DNI -->
                <div class="form-group mb-4">
                    <label for="dni" class="form-label">DNI:</label>
                    <input id="dni" name="dni" [(ngModel)]="dni" required class="form-control"
                           placeholder="Ingrese su DNI" autocomplete="off" (focus)="dni=''" />
                </div>

                <!-- Campo Contraseña -->
                <div class="form-group mb-4">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" id="password" name="password" [(ngModel)]="password" required
                           class="form-control" placeholder="Ingrese su contraseña" autocomplete="new-password"
                           (focus)="password=''" />
                </div>

                <!-- Botón -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>

                <!-- Mensaje de error -->
                <div *ngIf="errorMessage" class="text-danger mt-3 text-center">
                    {{ errorMessage }}
                </div>
            </form>
        </div>
    </div>
</div>